footer.bg-gray.mt-3
	.container
		.row
			.col-sm-3
				h5 ACCESSORIES
				P  Lorsit amet, consectetur adipisicing elit. Praesentium pariatur, culpa harum ea ad at, esse odio similique perferendis doloremque repell
			.col-sm-2
				+footer('no funciona','no funciona','no funciona','bla','bla')
			.col-sm-2
				+footer('no funciona','no funciona','no funciona','bla','bla')
			.col-sm-2
				+footer('no funciona','no funciona','no funciona','bla','bla')
			.col-sm-3
				p  Lorem ipsum dolor sit.
				p  Lorem ipsum dolor sit.
				p Lorem ipsum dolor sit.
				p  Lorem ipsum dolor sit.
				p Lorem ipsum dolor sit.
	