section#header-medio.text-center
	.container
		.row
			.col-sm-4
				.opening-time
					.clock
						i.fa.fa-clock-o
					.time
						span OPENING TIME
						span 9:00 AM - 10:00 PM
			.col-sm-4
				.logo
					a(href="index.html")
						img(src="assets/images/logo.png")
			.col-sm-4
				.input-group.form-search#search
					input(type="text",class="form-control",placeholder="search")
					span(class="input-group-btn")
						button(class="btn btn-default button-search", type="button")
							i.fa.fa-search
.menu
	.container
		.row
			.col-sm-9
				.main-menu
					nav
						ul 
							li
								a(href="index.html") HOME
							li
								a(href="contac.html") CONTACT
			.col-sm-3
				.cart
					span 
						i.fa.fa.shoping