include helpers/variables
include helpers/mixins
doctype html
html(lang="en")
	head
		include sections/head
	body
		include sections/header
		include sections/home
		include sections/footer
	script(type='text/javascript', src='assets/js/jquery.js')
	script(type='text/javascript', src='assets/js/bootstrap.min.js')